@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.PayEx.Models;
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <p>@T("Plugins.Payments.PayEx.CurrencyNotes")</p>
                <p>@T("Plugins.Payments.PayEx.TransactionCallbackNotes") @Model.TransactionCallbackUrl</p>
                <p><strong>@(Model.Message)</strong></p>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TransactionModeValues)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TransactionModeId, Model.TransactionModeValues)
                        @Html.ValidationMessageFor(model => model.TransactionModeValues)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PassProductNamesAndTotals)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PassProductNamesAndTotals)
                        @Html.ValidationMessageFor(model => model.PassProductNamesAndTotals)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AllowCreateAgreement)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AllowCreateAgreement)
                        @Html.ValidationMessageFor(model => model.AllowCreateAgreement)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AgreementMaxAmount)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AgreementMaxAmount)
                        @Html.ValidationMessageFor(model => model.AgreementMaxAmount)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ValidateOrderTotal)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ValidateOrderTotal)
                        @Html.ValidationMessageFor(model => model.ValidateOrderTotal)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AccountNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AccountNumber)
                        @Html.ValidationMessageFor(model => model.AccountNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EncryptionKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.EncryptionKey)
                        @Html.ValidationMessageFor(model => model.EncryptionKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseTestEnvironment)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseTestEnvironment)
                        @Html.ValidationMessageFor(model => model.UseTestEnvironment)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button type="submit" name="save" class="btn btn-primary">
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}