@model PaymentFailedModel
@using Nop.Core.Domain.Orders;
@using Nop.Plugin.Payments.PayEx.Models;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="checkout-page">
    <div class="page-title">
        <h1>@T("Plugins.Payments.PayEx.PaymentFailedPageTitle")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="checkout-data">
        <div class="order-completed">
            <div class="body">
                <b>
                    @T("Plugins.Payments.PayEx.PaymentFailedInfo")</b>
                @if (Model.OrderId > 0)
                {
                <p>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </p>
                <p>
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = @Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </p>
                }
            </div>
            <div class="clear">
            </div>
            <div class="select-button">
                <input type="submit" name="nextstep" value="@T("Common.Continue")" id="nextstep" class="orderprocessedcontinuebutton" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
    </div>
</div>
