@{
    Layout = "";
}
@model Nop.Plugin.Payments.PayEx.Models.PaymentInfoModel
@using Nop.Web.Framework;

<style type="text/css">
.paymentspayex .item {
    padding: 5px 0 5px 0;
}
</style>

<div class="paymentspayex">
    @if (Model.AllowCreateAgreement)
    {
        if (Model.Agreements.Count > 0)
        {
            <div class="item"><strong>@T("Plugins.Payments.PayEx.SavedCards")</strong></div>
            for (int i = 0; i < Model.Agreements.Count; i++)
            {
                var item = Model.Agreements[i];
                <div class="item">
                    <input id="payexagreement_@(i)" type="radio" name="payexagreement" value="@(item.Value)"  @(i == 0 ? Html.Raw(" checked=\"checked\"") : null) />
                    <label for="payexagreement_@(i)">@item.Text</label>
                </div>
            }
            <div class="item">
                <input id="payexagreement_new" type="radio" name="payexagreement" value="0" />
                <label for="payexagreement_new">@T("Plugins.Payments.PayEx.NewCard")</label>
            </div>
        }
        <div class="item" id="CreateAgreementBox">@Html.EditorFor(model => model.CreateAgreement)
            <strong>@T("Plugins.Payments.PayEx.CreateAgreement")</strong> @T("Plugins.Payments.PayEx.CreateAgreementMotivation")</div>
    }

    <div class="item" id="lblRedirectInfo">@T("Plugins.Payments.PayEx.RedirectionTip")</div>

    <div class="item" id="lblCreateAgreementInfo">@T("Plugins.Payments.PayEx.CreateAgreementInfo")</div>
</div>

<script type="text/javascript">
    function setPayexVisibility() {
        var agreementId = $("input:radio[name=payexagreement]:checked").val();
        var newCard = agreementId == "0" || agreementId == null;
        var createAgreement = $('#CreateAgreement:checked').val() != null;
        $("#lblRedirectInfo").toggle(newCard);
        $("#CreateAgreementBox").toggle(newCard);
        $("#lblCreateAgreementInfo").toggle(createAgreement && newCard);
    }

    $("input:radio[name=payexagreement]").change(setPayexVisibility);
    $("#CreateAgreement").change(setPayexVisibility);
    setPayexVisibility();

</script>
